<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autoupdater.NET.Official" version="1.5.1" targetFramework="net472" />
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net472" />
  <package id="Google.Protobuf" version="3.6.1" targetFramework="net472" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net461" />
  <package id="MahApps.Metro.IconPacks.Material" version="2.3.0" targetFramework="net461" />
  <package id="SQLite.CodeFirst" version="1.5.2.28" targetFramework="net461" />
  <package id="System.Data.SQLite.EF6" version="1.0.110.0" targetFramework="net461" />
</packages>